<h1>Appearances#new</h1>
<p>Find me in app/views/appearances/new.html.erb</p>
<%if @appearance.errors.any?%>
    <%@appearance.errors.full_messages.each do |msg|%>
        <div><%=msg%></div>
    <%end%>
<%end%><br>


<%= form_for @appearance do |f|%>
<%= f.label :episode_id%>
<%= f.collection_select :episode_id, Episode.all, :id, :date%>
<%= f.label :guest_id%>
<%= f.collection_select :guest_id, Guest.all, :id, :name%>
<%=f.label :rating%>
<%=f.number_field :rating%>
<%=f.submit%>
<%end%>