<h1>New Appearance</h1>

<% if @appearance.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@appearance.errors.count, "error") %></h2>

        <ul>
            <% @appearance.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @appearance do |f| %>
    <div>
        <%= f.label :episode_id, "Episode : " %>
        <%= f.collection_select :episode_id, Episode.all, :id, :to_s %>
    </div>
    <div>
        <%= f.label :guest_id, "Guest : " %>
        <%= f.collection_select :guest_id, Guest.all, :id, :name %>
    </div>
    <div>
        <%= f.label :rating, "Rating : " %>
        <%= f.number_field :rating %>
    </div>
    <%= f.submit %>
<% end %>