<h1>Appearances#new</h1>
<p>Find me in app/views/appearances/new.html.erb</p>

<%if @appearance.errors.any?%>
<%@appearance.errors.full_messages.each do |message|%>
<%=message%>
<%end%>
<%end%>


<%=form_for @appearance do |f|%>
<%=f.label :guest%>
<%=f.collection_select :guest_id, Guest.all, :id, :name%>
<%=f.label :episode%>
<%=f.collection_select :episode_id, Episode.all, :id, :number%>
<%=f.label :rating%>
<%=f.text_field :rating%>
<%=f.submit%>
<%end%>
