<h1>Create A New Appearance</h1>


<% if @appearance.errors.any? %>
    <% @appearance.errors.full_messages.each do |message| %>
    <div class= "error"><%= message %></div>
    <% end %>
<% end %>

<br>
<br>

<%= form_for @appearance do |f| %>
<%= f.label :guest %>
<%= f.collection_select :guest_id, Guest.all, :id, :name %>
<br>
<%= f.label :episode %>
<%= f.collection_select :episode_id, Episode.all, :id, :number %>
<br>
<%= f.label :rating %>
<%= f.number_field :rating %>
<br>
<br>
<%= f.submit "submit" %>
<% end %>