<%if @appearance.errors.any?%>
  <%@appearance.errors.full_messages.each do |message|%>
  <%=message%><br>
  <%end%>
<%end%>

<h1>Create an Appearance</h1>
<%=form_for @appearance do |f|%>
<%=f.label :guest%>
<%=f.collection_select :guest_id, Guest.all, :id, :name%>
<%=f.label :episode%>
<%=f.collection_select :episode_id, Episode.all, :id, :number%>
<%=f.label :rating%>
<%=f.number_field :rating%>
<%=f.submit%>
<%end%>

