<h1> New Appearance Form</h1>
<%# <p>Find me in app/views/appearances/new.html.erb</p> %>

<%= form_for @appearance do |f| %>
    <%=f.label :guest %>
    <%=f.collection_select :guest_id, Guest.all, :id, :name %>

    <%=f.label :episode %>
    <%=f.collection_select :episode_id, Episode.all, :id, :date %>

    <%=f.label :rating %>
    <%=f.number_field :rating%>

    <%=f.submit %>
    <%end%>